*-blx.bib
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdf
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
*latexmk
*synctex.gz
.*
!.env
.*pdfsvn
__pycache__
